################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/API.Proposta/FileContentIndex/e1b59b9a-9b2c-4f08-8abe-b14065679020.vsidx
